extends layout

block content
    .container-fluid
        .row
            p= title
        .row
            //div.col-sm-12.col-md-6 Test text 1
            //div.col-sm-12.col-md-6 Test text 2
            .col Col1
            .col Col2
            .col Col3