extends layout

block content
    h1 Add Product

    form(method='POST' action='')
        .form-group
            label(for='pname') Product Name:
            input#pname.form-control(type='text', name='name')
        .form-group
            label(for='price') Price:
            input#price.form-control(type='number', step="0.01", name='price')
        .form-group
            label(for='image') Product Image:
            input#image.form-control(type='file')
        button.btn.btn-primary(type='submit') Add Product
